{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    {% if boards %}
        <h2>Board Games!</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Year</th>
                    <th>Min/ Max Players</th>
                    <th>Playtime</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for board in boards %}
                    <tr>
                        <td>{{ board.name }}</td>
                        <td>{{ board.year }}</td>
                        <td>{{ board.players }}</td>
                        <td>{{ board.playtime }}</td>
                        <td>
                            <form action="/" method="post">
                                <input name="id" type="hidden" value="{{ board.id }}">
                                <input type="submit" value="Delete" class="btn btn-primary">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% elif movies %}
        <h2>Movies!</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Release</th>
                    <th>Genre</th>
                    <th>Runtime</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for movie in movies %}
                    <tr>
                        <td>{{ movie.name }}</td>
                        <td>{{ movie.year }}</td>
                        <td>{{ movie.genre }}</td>
                        <td>{{ movie.playtime }}</td>
                        <td>
                            <form action="/" method="post">
                                <input name="id" type="hidden" value="{{ movie.id }}">
                                <input type="submit" value="Delete" class="btn btn-primary">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>Welcome to My Favorites!</h2>
        <p>Your Favorites will show up once you start giving out likes!</p>
    {% endif %}
{% endblock %}