{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
    {% if boards == 13 %}
        <form action="/search" method="post">
            <div class="mb-3">
                {{ form.hidden_tag() }}
            </div>
            <div class="mb-3">
                {{ form.username(class="form-control mx-auto w-auto") }}
            </div>
            <div class="mb-3">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    {% else %}
        {% if boards %}
            <h2>Board Games!</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Year</th>
                        <th>Min/ Max Players</th>
                        <th>Playtime</th>
                    </tr>
                </thead>
                <tbody>
                    {% for board in boards %}
                        <tr>
                            <td>{{ board.name }}</td>
                            <td>{{ board.year }}</td>
                            <td>{{ board.players }}</td>
                            <td>{{ board.playtime }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endif %}
{% endblock %}