{% extends "layout.html" %}

{% block title %}
    Settings
{% endblock %}

{% block main %}
    <h3>Do you want to share your favorites with other users?</h3>
    </br>
    <form action="/setting" method="post">
        {% if user.share == True %}
            <div class="mb-3">
                <input type="radio" id="yes" name="share" value="1" checked>
                <label for="yes">Yes</label>
            </div>
            <div class="mb-3">
                <input type="radio" id="no" name="share" value="0">
                <label for="no">No</label>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        {% else %}
            <div class="mb-3">
                <input type="radio" id="yes" name="share" value="1">
                <label for="yes">Yes</label>
            </div>
            <div class="mb-3">
                <input type="radio" id="no" name="share" value="0" checked>
                <label for="no">No</label>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        {% endif %}
    </form>
{% endblock %}